.giohang h4.tieude-tp {
	margin-top: 45px;
	font-size: 26px;
	font-weight: 640;
	color: #3c4a65;
	margin-bottom: 20px
}

.giohang h4.tieude-tp::after {
	content: "";
	height: 2px;
	width: 400px;
	background-color: #fa9f2c;
	display: block
}

.giohang table img:hover {
	transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1)
}

.giohang table span {
	font-size: 17px;
	font-weight: 600
}

.giohang table tr td.tensanpham {
	width: 600px
}

.giohang .tensanpham h5 {
	font-size: 18px;
	color: #000
}

.giohang .tensanpham h5:hover {
	color: #0d2055
}

.giohang .card-header {
	border-left: 5px solid #0f0
}

.giohang .btnluachon .btn {
	font-size: 20px;
	font-weight: 600
}

.giohang .btnluachon {
	margin: 20px
}

.giohang .tongtienthanhtoan {
	font-size: 20px;
	font-weight: 500
}

.giohang table a {
	text-decoration: none
}

.giohang .required:before {
	content: "* ";
	color: red
}

.giohang .thongtin label {
	font-size: 18px;
	font-weight: 600
}

.giohang .title_box_cart {
	background: #eee;
	color: #333;
	font-size: 16px;
	font-weight: 700;
	line-height: 43px;
	border: solid 1px #bbb;
	margin-bottom: 12px;
	text-align: center
}

.giohang .new-cart-button .btn {
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
	margin-top: 10px
}

.giohang .txt_12 {
	font-size: 15px;
	font-weight: 400
}

body {
	background-color: #ededed
}

.giohang .thanhtoan label {
	display: inline !important;
	margin-left: 10px
}

.giohang table .btn-primary {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-top: 7px
}

.giohang .thong-tin-khach {
	padding-top: 10px;
	padding-left: 10px
}

.giohang .thong-tin-bill {
	padding-top: 20px;
	padding-left: 10px;
	font-size: 16px;
	padding-bottom: 20px;
	background: #365899;
	color: white;
	padding-right: 10px;
}

.giohang .thong-tin-khach span.name-mobile {
	font-size: 17px;
	font-weight: 600;
	margin-right: 20px;
}

@media only screen and (max-width:1200px) {
	.giohang table {
		font-size: 16px
	}
	.giohang table tr td.tensanpham {
		width: 500px
	}
}

@media only screen and (max-width:992px) {
	.giohang table {
		font-size: 12px
	}
	.giohang table tr td.tensanpham h5 {
		font-size: 12px
	}
	.giohang table span {
		font-size: 13px
	}
	.giohang table tr td.tensanpham {
		width: 300px
	}
	.giohang .title_box_cart {
		font-size: 13px
	}
	.giohang .new-cart-button .btn {
		font-size: 13px
	}
	.giohang .txt_12 {
		font-size: 13px
	}
	.giohang .btnluachon .btn {
		font-size: 15px
	}
	.giohang .tongtienthanhtoan {
		font-size: 15px
	}
	.giohang h3 {
		font-size: 27px
	}
	.giohang table .btn-primary {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 8px;
		padding-right: 8px;
		font-size: 12px
	}
	.giohang table .btn-danger {
		font-size: 12px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 9px;
		padding-right: 9px
	}
	.giohang table .nhap-so-luong {
		font-size: 12px
	}
}

@media only screen and (max-width:768px) {
	.giohang table thead {
		font-size: 10px
	}
	.giohang table .btn-danger {
		margin-top: 5px
	}
	.giohang table tr td.tensanpham {
		width: 40%
	}
	.giohang table tr td.gia {
		width: 20%
	}
	.giohang table tr td.tc-gia {
		width: 20%
	}
	.giohang table tr td.so-luong {
		width: 15%
	}
	.giohang table tr td.hanh-dong {
		width: 15%
	}
	.giohang table tr td {
		vertical-align: baseline
	}
	.giohang .new-cart-button .btn {
		font-size: 16px
	}
	.giohang .txt_16 {
		font-size: 16px
	}
	.giohang .title_box_cart {
		font-size: 16px
	}
	.giohang .thong-tin-khach h5 {
		font-size: 15px
	}
}

@media only screen and (max-width:524px) {
	.giohang table tr td.tensanpham {
		width: 30%
	}
	.giohang table tr td.tensanpham h5 {
		font-size: 10px
	}
	.giohang table span {
		font-size: 10px
	}
	.giohang table {
		font-size: 10px
	}
	.giohang .new-cart-button .btn {
		font-size: 13px
	}
	.giohang .txt_16 {
		font-size: 13px
	}
	.giohang .title_box_cart {
		font-size: 13px
	}
	.giohang .thanhtoan label {
		font-size: 13px
	}
	.giohang .thongtin label {
		font-size: 15px;
		font-weight: 500
	}
	.giohang h4.tieude-tp::after {
		width: 250px
	}
	.giohang h4.tieude-tp {
		font-size: 20px
	}
	.giohang .thong-tin-khach span.name-mobile {
		font-size: 14px;
	}
	.giohang .thong-tin-khach span.address {
		font-size: 14px;
	}
	.giohang .thong-tin-bill {
		font-size: 14px;
	}
}

@media only screen and (max-width:458px) {
	.giohang table .gia {
		display: none
	}
}

@media only screen and (max-width:387px) {
	.giohang table .tc-gia {
		display: none
	}
	.giohang table img {
		margin-left: -15px
	}
	.giohang h4.tieude-tp::after {
		width: 230px
	}
}